@import "style.css";
@import "mediaQuery.css";
@import "shop.css";


#pro-details{
    display: flex;
    margin-top: 20px;
}

#pro-details .single-pro-img{
    width: 40%;
    margin-right: 50px;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
    
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#pro-details .single-pro-details{
    width: 50%;
    padding-top: 30px;
}

#pro-details .single-pro-details h4{
    padding:40px 0 20px 0 ;
}

#pro-details .single-pro-details h2{
    font-size: 20px;
}

#pro-details .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#pro-details .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px ;
    margin-right: 10px;
}

#pro-details .single-pro-details input:focus{
    outline: none;
    border: none;
}

#pro-details .single-pro-details button{
    background: #088178;
    color: #fff;
}

#pro-details .single-pro-details span{
    line-height: 25px;
    font-weight: 400;
}

@media (max-width: 477px) {
    #pro-details{
        display: flex;
        flex-direction: column;
    }

    #pro-details .single-pro-img {
        width: 100%;
    }
    #pro-details .single-pro-details {
        width: 100%;
        padding: 20px;
    }
}
